.featuredProducts {
  margin: 10rem 20rem;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;

    h2 {
      flex: 2;
      text-transform: capitalize;
    }

    p {
      flex: 3;
      color: $color-grey-1;
    }
  }

  .bottom {
    display: flex;
    gap: 5rem;
    justify-content: center;
  }
}
