.featuredProducts {
  margin: 10rem;

  @media only screen and (max-width: $bp-sm-1) {
    margin: 3rem;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;

    h2 {
      flex: 2;
      text-transform: capitalize;
      font-size: 2rem;
    }

    p {
      flex: 3;
      color: $color-grey-1;
      font-size: 1.5rem;
    }
  }

  .bottom {
    display: flex;
    gap: 5rem;
    justify-content: center;
    flex-wrap: wrap;
  }
}
