.navbar {
  height: 8rem;
  box-shadow: $shadow-1;

  @media only screen and (max-width: $bp-xl-3) {
    height: 16rem;
  }

  @media only screen and (max-width: $bp-sm-2) {
    height: 45rem;
  }

  .wrapper {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-xl-3) {
      flex-direction: column;
      gap: 2rem;
    }

    .item {
      display: flex;
      align-items: center;
      font-size: 1.8rem;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 2.5rem;

      @media only screen and (max-width: $bp-sm-2) {
        flex-direction: column;
      }

      .linkItem {
        display: flex;
        gap: 2.5rem;

        @media only screen and (max-width: $bp-sm-2) {
          flex-direction: column;
          gap: 2rem;
        }
      }
    }

    .center {
      height: 4.1rem;
      font-size: 3rem;
      letter-spacing: 3px;
    }

    .right {
      display: flex;
      align-items: center;
      gap: 2.5rem;

      .linkItem {
        display: flex;
        gap: 2.5rem;

        @media only screen and (max-width: $bp-sm-2) {
          gap: 2rem;
        }
      }

      @media only screen and (max-width: $bp-sm-2) {
        flex-direction: column;
      }

      .icons {
        display: flex;
        gap: 1.5rem;
        color: $color-grey-1;
        cursor: pointer;

        .cardIcon {
          position: relative;
          color: $color-grey-1;

          span {
            font-size: 1.2rem;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: $color-tertiary;
            color: #fff;
            position: absolute;
            top: -1rem;
            right: -1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .cardIcon.shake {
    animation: shake 0.5s infinite;
  }

  @keyframes shake {
    0% {
      transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-2deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(3deg);
    }
    30% {
      transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(2px, 1px) rotate(-2deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(4deg);
    }
    90% {
      transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
}
